#feed {
    & > h2 {
        color: var(--homepage-text-secondary);
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0.75rem;
        padding-top: 0;
    }
    & > #feed-items {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: baseline;
        gap: 1rem;

        & > article {
            width: 100%;
            flex: 1 0 auto;
            // Card
            background-color: var(--homepage-bg-secondary) !important;
            border-radius: 0.5rem;
            // Text
            color: var(--homepage-text-primary);
            // Animation
            transition: all 0.2s ease-in-out;
            // Hover
            &:hover {
                & a {
                    text-decoration: underline;
                }
            }
            // Title
            & h3 {
                font-size: 1rem;
                margin: auto 0;
                padding: 0 1rem;
            }
            // Link
            & a {
                display: flex;
                color: var(--homepage-text-primary);
                font-size: 1rem;
                text-decoration: none;
            }
            & div.feed-image {
                flex: 0 0 auto;
                background-color: var(--homepage-bg-active) !important;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 6rem;
                width: 7rem;
                border-radius: 0.5rem 0 0 0.5rem;
            }
        }
    }
}

// Media - on tablet and PC
@media (min-width: 1100px) {
    #feed > #feed-items {
        & > article {
            flex: 1 0 33.33%;

            & h3 {
                font-size: 0.8rem;
            }
        }
    }
}