:root {
  --homepage-bg-primary: #14171c;
  --homepage-bg-secondary: hsla(0, 0%, 100%, .05);
  --homepage-bg-tertiary: hsla(0, 0%, 0%, .75);
  --homepage-bg-active: #4d4168;
  --homepage-bg-focus: #3d3158;
  --homepage-text-primary: #b8bfe5;
  --homepage-text-primary-rgb: 184, 191, 229;
  --homepage-text-secondary: #d3bfff;
  --homepage-text-active: white;
  --homepage-text-error: #ff4d4d;
  --homepage-text-success: #4dff4d;
  --homepage-scrollbar: #4d4168 #1b1f26;
}

* {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--homepage-scrollbar);
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--homepage-bg-primary) !important;
  color: var(--homepage-text-primary);
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-flow: column;
}
body > * {
  margin: 0 auto;
  width: 80%;
}

main {
  padding-bottom: 2rem;
}
main > hr {
  border: 0;
  border-top: 1px solid rgba(var(--homepage-text-primary-rgb), 1);
  margin: 2rem 0;
}

.hide {
  display: none !important;
}

@media (min-width: 768px) {
  body > * {
    width: 60%;
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}
nav > * {
  display: contents;
}
nav > form {
  display: flex;
  justify-content: space-around;
  background-color: var(--homepage-bg-active) !important;
  flex: 1;
}
nav > form > * {
  border: none;
  padding: 0.5rem;
}
nav > form > input {
  color: var(--homepage-text-active);
  flex: 1;
}
nav > form > input::-moz-placeholder {
  color: var(--homepage-text-active);
  opacity: 1 !important;
}
nav > form > input::placeholder {
  color: var(--homepage-text-active);
  opacity: 1 !important;
}
nav > form > input:focus {
  outline: none;
}
nav > form > button {
  display: flex;
  align-items: center;
  fill: var(--homepage-text-active);
}
nav > form > button > img, nav > form > button > svg {
  height: 1.5rem;
  width: 1.5rem;
}
nav > form > button:hover {
  background-color: var(--homepage-bg-focus) !important;
}
nav > form > button:focus {
  outline: none;
  cursor: pointer;
}
nav > #time {
  display: block;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav > form {
    width: 30%;
    order: -1;
  }
  nav > #time {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
}
section#bookmarks {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem 0.25rem;
  margin-top: -0.75rem;
}
section#bookmarks > div.category {
  width: 100%;
}
section#bookmarks > div.category > h2 {
  color: var(--homepage-text-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem;
}
section#bookmarks > div.category > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
section#bookmarks > div.category > ul > li {
  background-color: var(--homepage-bg-secondary) !important;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
}

section#bookmarks > div.category > ul > li > a {
  border-radius: 0.5rem;
  padding: 1rem;
  color: inherit;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
}
section#bookmarks > div.category > ul > li > a > div.icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
section#bookmarks > div.category > ul > li > a > div.icon > img {
  width: 3rem;
  max-height: 3rem;
  text-align: center;
  font-size: 2.4rem;
  overflow: hidden;
}
section#bookmarks > div.category > ul > li > a > div.content > p {
  color: var(--homepage-text-primary);
  font-size: 0.8rem;
  font-weight: 500;
}
section#bookmarks > div.category > ul > li > a > div.content > p.title {
  color: var(--homepage-text-active);
  font-size: 1.2rem;
  font-weight: 500;
}
section#bookmarks > div.category > ul > li > a > div.content > p.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  section#bookmarks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  section#bookmarks > div.category:nth-child(2n-1):nth-last-of-type(1) {
    grid-column: 1/-1;
  }
}
footer {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  background-color: var(--homepage-bg-primary) !important;
  border-radius: 1rem;
  width: auto;
  max-height: calc(100vh - 0.5rem);
}
footer > button#personalize {
  outline: none;
  border: none;
  cursor: pointer;
}
footer > button#personalize > img, footer > button#personalize > svg {
  fill: var(--homepage-text-secondary);
  height: 1.5rem;
  width: 1.5rem;
}
footer.fullscreen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  z-index: 2;
  background-color: var(--homepage-bg-tertiary) !important;
}

#settings {
  background-color: var(--homepage-bg-secondary) !important;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
}
#settings img, #settings svg {
  width: 1.5rem;
  height: 1.5rem;
}
#settings button, #settings select {
  background-color: var(--homepage-bg-secondary) !important;
  color: var(--homepage-text-active);
  fill: var(--homepage-text-active);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#settings button:hover, #settings select:hover {
  color: var(--homepage-text-secondary);
  fill: var(--homepage-text-secondary);
}
#settings button > img, #settings button > svg, #settings select > img, #settings select > svg {
  margin-right: 0.5rem;
}
#settings button > img + span, #settings button > svg + span, #settings select > img + span, #settings select > svg + span {
  position: relative;
  top: -0.4rem;
}
#settings button.active, #settings select.active {
  background-color: var(--homepage-bg-focus) !important;
  color: var(--homepage-text-active);
  fill: var(--homepage-text-active);
}
#settings button.btn-icon, #settings select.btn-icon {
  padding: 0.5rem;
}
#settings button.btn-icon > img, #settings button.btn-icon > svg, #settings select.btn-icon > img, #settings select.btn-icon > svg {
  margin: 0;
}
#settings select > option {
  color: black;
  border: none;
}
#settings select > option:hover, #settings select > option:focus, #settings select > option:active {
  color: black;
}
#settings > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#settings > ul > li {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(var(--homepage-text-primary-rgb), 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}
#settings > ul > li > h2 {
  display: block;
  color: var(--homepage-text-secondary);
}
#settings > ul > li > h2 > img, #settings > ul > li > h2 > svg {
  fill: var(--homepage-text-secondary);
  margin-right: 0.5rem;
  position: relative;
  bottom: -0.275rem;
}
#settings > ul > li.settings-content {
  border-bottom: none;
  padding: 0.5rem 1rem;
  display: block;
  text-align: right;
}
#settings > ul > li.settings-content > textarea {
  display: block;
  background-color: var(--homepage-bg-secondary) !important;
  color: var(--homepage-text-active);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: -moz-available;
  height: 20rem;
  max-height: -moz-available;
  transition: none;
  outline: none;
  scrollbar-width: thin;
}
#settings > ul > li.settings-content > button {
  margin-top: 0.5rem;
}
#settings > ul > li.settings-content > button.error {
  color: var(--homepage-text-error);
  fill: var(--homepage-text-error);
}
#settings > ul > li.settings-content > button.success {
  color: var(--homepage-text-success);
  fill: var(--homepage-text-success);
}
#settings > ul > li > a.info {
  display: inline-block;
  background-color: var(--homepage-bg-secondary) !important;
  color: var(--homepage-text-active);
  text-decoration: none;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.15rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: bottom;
}
#settings > ul > li > a.info:hover {
  color: var(--homepage-text-secondary);
}
#settings > div.settings-footer {
  margin-top: 1rem;
}
#settings > div.settings-footer > button {
  margin: 0 0.25rem;
  padding-left: 0.75rem;
}
#settings > div.settings-footer > button > img, #settings > div.settings-footer > button > svg {
  margin-right: 0;
}

footer.fullscreen > #settings {
  width: -moz-available;
  height: inherit;
  max-width: -moz-available;
  max-height: -moz-available;
  border-radius: 0;
}
footer.fullscreen > #settings #settings-bookmarks-edit {
  resize: vertical;
}